
body{
    background-color: rgb(173, 94, 247);
}
img{
    width: 100px;
    height: 100px;
}
#confetti{
	background: #b20ef3;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: -1;
}